<div class="container">
        <div class="pic">
            <img src="./assets/images/banner.png">
        </div>
        <nav class="navbar navbar-expand-lg navbar-light bg-secondary">
            <a class="navbar-brand" [routerLink]="['/dangnhap']">Trang Chủ</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
    
            <div class="collapse navbar-collapse " id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" [routerLink]="['/gioithieu']">Giới thiệu</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/lienhe']">Liên hệ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/gopy']">Góp ý</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/hoidap']">Hỏi đáp</a>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0 taikhoan">
    
                    <a type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModal">
                        Đăng Nhập
                    </a>
                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
                        aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel" style="color: darkred;">Wellcome To
                                        Summerif</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                                        style="color: red;">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <form>
                                        <div class="form-group row">
                                            <div class="col-4">
                                                <label for="exampleInputPassword1">Username</label>
                                            </div>
                                            <div class="col-8">
                                                <input type="text" class="form-control" id="exampleInputUsername"
                                                    placeholder="Enter username">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-4">
                                                <label for="exampleInputPassword1">Password</label>
                                            </div>
                                            <div class="col-8">
                                                <input type="password" class="form-control" id="exampleInputPassword1"
                                                    placeholder="Password">
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary">Đăng Nhập</button>
                                    <button type="submit" class="btn btn-success" data-dismiss="modal"
                                        [routerLink]="'/dangky'">Đăng Ký</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Tài khoản
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" [routerLink]="'/dangky'">Đăng kí</a>
                            <a class="dropdown-item" href="#">Quên mật khẩu</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Đăng xuất</a>
                            <a class="dropdown-item" href="#">Đổi mật khẩu</a>
                            <a class="dropdown-item" href="#">Cập nhật tài khoản</a>
                        </div>
                    </div>
                </form>
            </div>
        </nav>
        </div>
<p>hoidap works!</p>
