<div class="container">
    <form>
        <div class="form-group">
            <label for="exampleFormControlInput1">ho ten</label>
            <input type="text" [(ngModel)]="in4.name" [ngModelOptions]="{standalone:true}" class="form-control">
        </div>
        <div class="form-group">
            <label for="exampleFormControlInput1">Ngay sinh</label>
            <input type="date" [(ngModel)]="in4.date" [ngModelOptions]="{standalone:true}" class="form-control">
        </div>
        <div class="form-group">
            <label for="exampleFormControlSelect1">gioi tinh</label>
            <select  [(ngModel)]="in4.male" [ngModelOptions]="{standalone:true}" class="form-control">
                <option>nam</option>
                <option>nu</option>
            </select>
        </div>
        <div class="form-group">
            <label for="exampleFormControlInput1">diem</label>
            <input type="number"  [(ngModel)]="in4.mark" [ngModelOptions]="{standalone:true}" class="form-control">
        </div>
        <div  [(ngModel)]="in4.TB" [ngModelOptions]="{standalone:true}" class="alert alert-danger"  role="alert">
            {{tinh()}}
        </div>
    </form>
</div>