<div class="container">
    <div class="pic">
        <img src="./assets/images/banner.png">
    </div>
    <nav class="navbar navbar-expand-lg navbar-light bg-secondary">
        <a class="navbar-brand" [routerLink]="['/dangnhap']">Trang Chủ</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse " id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" [routerLink]="['/gioithieu']">Giới thiệu</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/lienhe']">Liên hệ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/gopy']">Góp ý</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/hoidap']">Hỏi đáp</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0 taikhoan">
                <div class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Tài khoản
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Đăng xuất</a>
                        <a class="dropdown-item" href="#">Đổi mật khẩu</a>
                        <a class="dropdown-item" href="#">Cập nhật tài khoản</a>
                    </div>
                </div>
            </form>
        </div>
    </nav>
    <div class="row">
        <div class="col-lg-9">

            <div class="bodyrow">
                <div class="bodycol"
                    *ngFor='let a of listsubject | paginate: {itemsPerPage: itemperpage, currentPage: currentpage}'>
                    <div class="card card1" style="width: 18rem; height: 22rem;">
                        <img src="./assets/images/{{a.Logo}}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <a  [routerLink]="['/thionline',a.Id]" class="card-text">{{a.Name}}</a>
                        </div>
                    </div>
                </div>
                <div class="hand">
                    <table>
                        <tr>
                            <td (click)="firtPage()"><button><i class="fas fa-hand-point-up"></i></button></td>
                            <td (click)="prevPage()"><button><i class="fas fa-hand-point-left"></i></button></td>
                            <td (click)="nextPage()"><button><i class="fas fa-hand-point-right"></i></button></td>
                            <td (click)="lastPage()"><button><i class="fas fa-hand-point-down"></i></button></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-lg-3 dmmh">
            <ul class="list-group">
                <li class="list-group-item"><B><i class="fas fa-address-book"></i>DANH MỤC MÔN HỌC</B></li>
                <li class="list-group-item">lập trình adroi nâng cao</li>
                <li class="list-group-item">xây dưng trang web</li>
                <li class="list-group-item">cơ sở sữ liệu</li>
                <li class="list-group-item">SQL server</li>
                <li class="list-group-item">internet marketing</li>
                <li class="list-group-item">Lập trình hướng đối tượng với java</li>
                <li class="list-group-item">Lập trình PHP</li>
                <li class="list-group-item">Điện toán đám mây</li>
                <li class="list-group-item">Lập trình androi cơ bản</li>
                <li class="list-group-item">Lập trình game 2D</li>
                <li class="list-group-item">Thiết kế giao diện trên androi</li>
                <li class="list-group-item">Thiết kế web cho điện thoại di đông</li>
                <li class="list-group-item">Lập trình ASP Net</li>

            </ul>
        </div>
    </div>
</div>