<div class="row">
    <div class="card">
        <div class="card-header">
           <p>{{fiml.title}}</p>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-4">
                    <img src="../../assets/images/attack_on_titan_2_switch_large.jpg">
                </div>
                <div class="col-8">
                    <p class="card-text">{{fiml.opening_crawl}}</p>
                    <p class="card-text">{{fiml.opening_crawl}}</p>
                </div>
            </div>
        </div>
    </div>
</div>