<div class="container">
    <div class="row">
        <div class="col-6 head">
            <h1>Online Shopping Mall</h1>
            <hr />
            <br />
            <p>the center shopping you can buy online</p>
        </div>
        <div class="col-5 pic">
            <img src="../assets/images/header-object.png">
        </div>
    </div>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto padding">
                <li class="nav-item active">
                    <a class="nav-link" [routerLink]="['']"><i class="fas fa-home"></i>Trang Chủ <span
                            class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active ">
                    <a class="nav-link"><i class="fas fa-th-list"></i>Giới Thiệu</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#"><i class="fas fa-phone-volume"></i>Liên Hệ</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#"><i class="fas fa-envelope"></i>Góp Ý</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#"><i class="fas fa-question-circle"></i>Hỏi Đáp</a>
                </li>
                <li class="nav-item dropdown active">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-user"></i>Tài khoản
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">English</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Tiếng Việt</a>
                    </li>
                </ul>
            </form>
        </div>
    </nav>
    <div class="row">
        <div class="col-9">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Special title treatment</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content
                        lead-in to additional content lead-in to additional content lead-in to additional content
                        lead-in to additional content lead-in to additional content.</p>
                    <a [routerLink]="['/sanpham']" class="btn btn-primary">Sản Phẩm</a>
                </div>
            </div><br />
            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner bg-dark">
                    <div class="carousel-item active img">
                        <img src="../assets/images/1019.jpg">
                    </div>
                    <div class="carousel-item img">
                        <img src="../assets/images/1020.jpg">
                    </div>
                    <div class="carousel-item img">
                        <img src="../assets/images/1021.jpg">
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
        <div class="col-3">
            <div class="card imgc">
                <div class="card-body">
                    <div class="media">
                        <img src="./assets/images/shoppingcart.gif">
                        <div class="media-body">
                            <p>100 ITEMS <br />
                                <span>$ 56.8</span><br />
                                <a [routerLink]="['/giohang']">VIEW CART</a></p>
                        </div>
                    </div>
                </div>
            </div><br />
            <div class="card key">
                <div class="card-body">
                    <input type="tex" placeholder="Key words">
                </div>
            </div><br />
            <div>
                <ul class="list-group">
                    <a href="#">
                        <li class="list-group-item mau" data-toggle="collapse" href="#modongthu1" role="button"
                            aria-expanded="false" aria-controls="collapseExample"><i class="fas fa-list-ul"></i>Chủng
                            loại</li>
                    </a>
                    <div class="collapse" id="modongthu1">
                        <ul class="list-group">
                            <li class="list-group-item">Điện Thoại Di Động</li>
                            <li class="list-group-item">Máy Tính Xách Tay</li>
                            <li class="list-group-item">Laptop</li>
                            <li class="list-group-item">máy tính để bàn</li>
                            <li class="list-group-item">quạt máy</li>
                            <li class="list-group-item">máy ảnh</li>
                        </ul>
                    </div>
                </ul>
            </div>
            <div>
                <ul class="list-group">
                    <a href="#">
                        <li class="list-group-item mau" data-toggle="collapse" href="#modongthu2" role="button"
                            aria-expanded="false" aria-controls="collapseExample"><i class="fas fa-list-ul"></i>Nhà Cung
                            Cấp</li>
                    </a>
                    <div class="collapse" id="modongthu2">
                        <ul class="list-group">
                            <li class="list-group-item">Dapibus ac facilisis in</li>
                            <li class="list-group-item">Morbi leo risus</li>
                            <li class="list-group-item">Porta ac consectetur ac</li>
                            <li class="list-group-item">Vestibulum at eros</li>
                            <li class="list-group-item">Vestibulum at eros</li>
                            <li class="list-group-item">Vestibulum at eros</li>
                        </ul>
                    </div>
                </ul>
            </div>
        </div>
    </div>
</div>