.head{
    padding-top: 20px;
    text-align: center;
    padding-right: 248px;
}
hr{
    width: 50%;
    color: black;
}
.pic img{
    padding-left:80px;

}
.padding li a{
    padding-right:5px;
}
.img{
    height: 400px;
    width: 400px;
    padding-left: 230px;
    padding-top:35px;
}
.bgimg{
    background-color: lightgrey;
}
.imgc img{
    height: 70px;
    width: 70px;
}
.textcart{
    padding-left: 20px;
}
.key{
    height: 70px;
}
.pic img{
    padding-left:80px;

}
