<div class="container"><form>
    <div class="form-group">
        <label for="exampleInputEmail1">chieu dai</label>
        <input type="number" [(ngModel)]="hcn.cd" [ngModelOptions]="{standalone:true}" class="form-control">
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">chieu rong</label>
        <input type="number" [(ngModel)]="hcn.cr" [ngModelOptions]="{standalone:true}" class="form-control">
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">dien tich</label>
        <input type="number" [(ngModel)]="hcn.dt" [ngModelOptions]="{standalone:true}" class="form-control">
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">chu vi</label>
        <input type="number" [(ngModel)]="hcn.cv" [ngModelOptions]="{standalone:true}" class="form-control">
    </div>
    <button type="submit" class="btn btn-primary" (click)="tinh()" >tinh</button>
</form>
</div>