<div class="container">
    <div class="pic">
        <img src="./assets/images/banner.png">
    </div>
    <nav class="navbar navbar-expand-lg navbar-light bg-secondary">
        <a class="navbar-brand" [routerLink]="['/dangnhap']">Trang Chủ</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse " id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" [routerLink]="['/gioithieu']">Giới thiệu</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/lienhe']">Liên hệ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/gopy']">Góp ý</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/hoidap']">Hỏi đáp</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0 taikhoan">
                <div class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Tài khoản
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Đăng xuất</a>
                        <a class="dropdown-item" href="#">Đổi mật khẩu</a>
                        <a class="dropdown-item" href="#">Cập nhật tài khoản</a>
                    </div>
                </div>
            </form>
        </div>
    </nav>
    <div class="container">
        <header>
            <h1>Đăng Ký</h1>
        </header>
        <form>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Họ và tên:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" placeholder="Họ và tên" [(ngModel)]="formStudent.fullName"
                        [ngModelOptions]="{standalone:true}">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Username</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" placeholder="Username" [(ngModel)]="formStudent.username"
                        [ngModelOptions]="{standalone:true}">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Password</label>
                <div class="col-sm-10">
                    <input type="password" class="form-control" placeholder="Password"
                        [(ngModel)]="formStudent.password" [ngModelOptions]="{standalone:true}">
                </div>
            </div>
            <div class="form-group row">
                <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
                <div class="col-sm-10">
                    <input type="email" class="form-control" placeholder="Email" [(ngModel)]="formStudent.email"
                        [ngModelOptions]="{standalone:true}">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">schoolfee:</label>
                <div class="col-sm-10">
                    <input type="text" [(ngModel)]="formStudent.schoolfee" [ngModelOptions]="{standalone:true}">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Giới Tính</label>
                <div class="col-sm-10">
                    <input type="radio" value="nam" [(ngModel)]="formStudent.gender"
                        [ngModelOptions]="{standalone:true}">Nam
                    <input type="radio" value="nu" [(ngModel)]="formStudent.gender"
                        [ngModelOptions]="{standalone:true}"> Nữ
                </div>
            </div>
            <div class="form-group row">
                <label for="inputPassword" class="col-sm-2 col-form-label">Ngày sinh:</label>
                <div class="col-sm-10">
                    <input type="date" class="form-control" [(ngModel)]="formStudent.birthday"
                        [ngModelOptions]="{standalone:true}">
                </div>
            </div>
            <div class="form-group row">
                <label for="inputPassword" class="col-sm-2 col-form-label">Điểm:</label>
                <div class="col-sm-10">
                    <input type="number" [(ngModel)]="formStudent.mark" [ngModelOptions]="{standalone:true}">
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-2"></div>
                <div class="col-sm-10">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="gridCheck1">
                        <label class="form-check-label" for="gridCheck1">
                            Tôi đồng ý với điều khoản và Dịch Vụ
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-10">
                    <button type="submit" class="btn btn-primary">Đăng Ký Ngay</button>
                    <button type="submit" class="btn btn-danger">Hủy Đăng Ký</button>
                </div>
            </div>
        </form>
    </div>
</div>